@model Movie

<h1>@Model.Title (@Model.ProductionYear)</h1>
<p>@Model.OriginalTitle</p>
<p>@Model.Description</p>
<dl>
    <dt>Varighet</dt>
    <dd>@Model.RunningLength</dd>
    <dt>Sjanger</dt>
    <dd>@Model.Genre.Name</dd>
    <dt>Produksjonsår</dt>
    <dd>@Model.ProductionYear</dd>
    <dt>Regisører</dt>
    <dd>@Html.PrettyJoin(Model.Directors)</dd>
    <dt>Produsenter</dt>
    <dd>@Html.PrettyJoin(Model.Producers)</dd>
</dl>

@await Html.PartialAsync("_PersonList", Model.Actors.WithTitle("Skuespillere"))

<section>
    <h2>Kommentarer</h2>
    <form asp-action="Comment" asp-route-id="@Model.MovieId">
        <input type="text" name="Author" /> sier <input type="text" name="headline" />
        <br />
        <textarea name="Body" cols="60" rows="6"></textarea>
        <br />
        <button>Send inn kommentar</button>
    </form>

    @foreach (var comment in Model.Comments)
    {
        <article>
            <h3>@comment.Author sa @comment.Headline</h3>
            <p>@Html.Raw(comment.Body)</p>
        </article>
    }
</section>


